{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h1>Log in</h1>
    <hr>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4">
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
        </div>
    </div>


    <button type="submit" class="btn btn-success">Log in</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<hr>
<h4>Don't have an account yet? <a href="{% url 'register' %}?next={{ request.GET.next }}">Create an account</a></h4>

{% endblock %}