{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <h1>Welcome to Robo Bears Rumble!</h1>
    <p>Robo Bears Rumble is a game to get people active in our community. The game motivates people to get active by having rewards and a points system. Also the activities are fun to do and get your body moving!
    </p>
    <h4><a class="btn btn-lg btn-success" href="{% url 'register' %}?next={{ request.GET.next }}">Click here to create an account</a> or log in below to start playing!</h4>

    <hr>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4">
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
        </div>
    </div>


    <button type="submit" class="btn btn-success">Log in</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}