{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h1>Enter new password</h1>
    <hr>
    <p class="text-muted">Please enter your new password twice so we can verify you typed it in correctly.</p>
    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Change my password</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}