{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <h1>Change password</h1>

    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Change password</button>
    <a href="{% url 'profile' %}" class="btn btn-warning">Cancel</a>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}