{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <h1>Reset password</h1>
    <hr>
    <p class="text-muted">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Reset my password</button>
    <a href="{% url 'profile' %}" class="btn btn-warning">Cancel</a>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}