{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Password reset sent.</h1>
<hr>
<p class="text-muted">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p class="text-muted">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
{% endblock %}