{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Password changed successfully.</h1>
<hr>
<a href="{% url 'profile' %}" class="btn btn-primary">Back to profile</a>
{% endblock %}