{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Password reset complete.</h1>
<hr>
<p class="text-muted">Your password has been set. You may log in now.</p>
<a href="{% url 'login' %}" class="btn btn-success">Log in</a>
{% endblock %}