{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% if updated %}
    <div class="text-success"><h3>Successfully updated profile.</h3></div>
{% endif %}

{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><span class="text-error">{{ error|escape }}</span></li>
    {% endfor %}
    </ol>
{% endif %}
<h1>{{ user.username }}'s profile</h1>
<hr>
{% if user.user_profile.avatar %}
<img src="{{ user.user_profile.avatar.url }}">
{% else %}
<img src="{% static 'accounts/default_user.png' %}">
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {{ icon_form.avatar }}
            <button class="btn btn-success" type="submit">Update</button>
        </div>
    </div>
</form>

<br>
<a href="{% url 'password_change' %}" class="btn btn-primary">Change password</a>

<hr>
{% endblock %}