{% extends 'base.html' %}
{% block content %}
<h1>Registered successfully</h1>
<hr>
<p>You have successfully created an account. <a href="{% url 'index' %}">Now you can start playing!</a></p>
{% endblock %}