{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST">
    <h1>Register</h1>
    <hr>
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4">
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Sign Up</button>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        </div>
    </div>

</form>

If you already have an account, please <a href="/login" target="blank"><strong>login</strong></a> instead.
{% endblock %}