html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
}

.achievement-icon {

}

.achievement-icon-sm {
    height: 2em;
}

.achievement-popover {
    cursor: pointer;
}

.user-icon {
    height: 3em;
}

.navbar-brand img {
    height: 3em;
}