{% extends 'base.html' %}

{% load static %}
{% block content %}
<h1 class="text-error text-center">Error 404: Page not found.</h1>
<h3 class="text-muted text-center">The page you requested doesn't seem to exist.</h3>
<img class="img-fluid rounded" src="{% static 'confused-bear.jpg' %}"/>
{% endblock %}