<span class="d-inline-block achievement-popover" data-toggle="popover" data-placement="top" title="<b>{{achievement.name}}</b>" data-content="{{achievement.description}}{% if achievement.point_award != 0 %}<br>+{{achievement.point_award}} points{% endif %}">
    <img src="{{achievement.icon.url}}" class="img-thumbnail achievement-icon-sm">
</span>