<div class="thumbnail col-4 col-md-3 col-lg-2">
    <span class="d-inline-block achievement-popover" data-toggle="popover" data-placement="top" title="<b>{{achievement.name}}</b>" data-content="{{achievement.description}}{% if achievement.point_award != 0 %}<br>+{{achievement.point_award}} points{% endif %}">
        <img src="{{achievement.icon.url}}" class="img-thumbnail achievement-icon">
        <div class="caption text-center text-muted"><p>{{achievement.name}}</p></div>
    </span>
</div>