{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>My Achievements</h1>
<div class="row">
{% for achievement in user_achievements %}
    {% include 'achievement-icon.html' with achievement=achievement.achievement %}
{% endfor %}
</div>
<hr>
{% endif %}
<h2>All achievements</h2>
<div class="row">
{% for achievement in achievements %}
    {% include 'achievement-icon.html' %}
{% endfor %}
</div>
{% endblock %}