{% extends 'base.html' %}
{% load static %}
{% block content %}
{% autoescape off %}
<h1>{{ activity.name }}</h1>
<div class="text-muted">for {{ activity.point_award }} points</div>
<hr>
<div>
    {{ activity.description }}
</div>
<br>
{% if activity.alternative_available %}
<div class="jumbotron" >
    <h4>If you can't do the activity, here's an alternative to try instead:</h4>
    {{ activity.alternative_description }}
</div>
{% endif %}

<div class="text-center">
    <div id="start_button">
        <h4 class="text-muted text-center">Click the button below before you start the activity!</h4>
        <button class="btn btn-lg btn-primary" onclick="start_countdown()">Start Activity</button>
    </div>

    <form method="post">
        <span id="complete_button_tooltip">
            {% csrf_token %}
            <button type="submit" id="complete_button" class="btn btn-lg btn-success" style="display: none;" disabled="disabled">Complete Activity</button>
        </span>
    </form>
    <div id="countdown"></div>
</div>

<script src="{% static 'js/countdown360.min.js' %}"></script>
<script>
var start_button = $("#start_button");
var complete_button = $("#complete_button");
complete_button.disabled = true;

var complete_tooltip = $("#complete_button_tooltip");

complete_tooltip.tooltip({title: "Please wait for the timer to finish"});
var timer_completed = false;


var countdown = $("#countdown").countdown360({
    radius: 100,
    seconds: {{ activity.wait_time }},
    label: ['seconds', 'seconds'],
    fontColor: '#FFFFFF',
    autostart: false,
    onComplete: function () {
        complete_tooltip.tooltip('dispose');
        complete_button.removeAttr('disabled');
    }
});


var start_countdown = function(){
    countdown.start();
    start_button.hide();
    complete_button.show();
    complete_button.disabled = true;
    complete_button.attr('disabled', 'disabled');
};

var complete_clicked = function(){
    if(timer_completed){

    }
};

</script>
{% endautoescape %}
{% endblock %}