{% extends 'base.html' %}

{% block content %}
<h1 class="text-error text-center">You've already completed this activity today!</h1>
<h3 class="text-muted text-center">Come back another day to do it again.</h3>
{% endblock %}