{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">You've completed "{{ activity.name }}"!</h1>
<h4 class="text-success text-center">+{{ activity.point_award }} points</h4>
<hr>
<a href="{% url 'leaderboard' %}" class="btn btn-lg btn-primary">View leaderboard</a>
<br>
<br>
<a href="{% url 'map' %}" class="btn btn-lg btn-primary">Find another activity</a>

{% if achievements %}
<div class="modal fade" id="achievement-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Achievement completed!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for achievement in achievements %}
            {% include 'achievement-icon.html' %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
setTimeout(() => { $('#achievement-modal').modal() }, 1000);
</script>
{% endif %}

<script src="{% static 'js/party.min.js' %}"></script>
<script>
function fireworks() {
    var duration = 3 * 1000;
    var animationEnd = Date.now() + duration;
    var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
    }

    var interval = setInterval(function() {
      var timeLeft = animationEnd - Date.now();

      if (timeLeft <= 0) {
        return clearInterval(interval);
      }

      var particleCount = 50 * (timeLeft / duration);
      // since particles fall down, start a bit higher than random
      confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
      confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
    }, 350);
};

fireworks();
</script>
{% endblock %}