{% extends 'base.html' %}

{% block head %}
{% include 'map-headers.html' %}
{% endblock %}
{% load static %}
{% block content %}
<h1>Welcome to Robo Bears Rumble!</h1>
<hr>
<p class="text-muted">
    Robo Bears Rumble is a game to get people active in our community. The game motivates people to get active by having rewards and a points system. Also the activities are fun to do and get your body moving!
</p>
<div class="jumbotron">
    <h2>Start Playing</h2>
    <hr>
    <p class="text-muted">Find a <b>QR code</b>  at one of the locations below and scan it to get started!</p>
    {% include 'map.html' %}
    <hr>
    <p class="text-center">
        Look for a piece of wood about 5" tall and 3.5" wide with a laminated "Scan me" sign on it like this:
        <br><img src="{% static 'example_code.png' %}" class="img-fluid rounded">
    </p>
</div>
<h2>About the Robo Bears and First Lego League</h2>
<p>Hi! We are the Robo Bears! We are a First lego Robotics team. We go to Bartlett Elementary. Last year in the state competition we scored 3rd place out of 64 of the best teams in our state. We have 6 team members, 3 mentors, and 2 coaches on our team. We have 4 fifth graders and 2 third graders.
</p><p>We we are a part of the First Lego League (FLL for short). We use Lego bricks to build and program robots that complete cool challenges on a mission board. In addition to robots, every year FLL gives out a specific community challenge for everyone to complete. We have to think about a problem and make a solution for that problem. Also during the sesion we have six core values to use (innovation, inclusion, impact, discovery, fun, and teamwork). In FLL there are competitions: Regionals, States and Worlds. Everyone gets to go to Regionals, It is were you face off against teams that are close to you. State competitions is were the top five teams from every regionals competition gets to go too it. We have made it twice - you face off against the best in your state. Worlds competition is were the top team from states get’s to go face off from teams around the world.
</p>
<h3>Our Challenge</h3>
<p>Each year FIRST gives us a new game theme and a problem to solve. This year the game is called RePlay and the challenge is to identify a specific problem linked to people not being active enough. We have to research our problem and solution ideas and design a new piece of technology or improve an existing one. We will eventually present our solution at a competition this winter.</p>
<p>
    We found in our community that people are not exercising enough. We think it is partly because of the pandemic and also because there is so much technology and so many screens that keep them from being active. Also, when kids are not in school they don’t have PE classes and recess time. We think people need to be more motivated to get out and be active. We found that people are motivated by competition and earning points, badges, and seeing leader boards and being able to do fun exercises that make them feel good in locations that are easy to get to and are safe to go to.
</p>
<h3>Our Solution</h3>
<p>
    We decided to design Robo Bears Rumble, a web app game using fun activities in safe spaces already in our community, like parks, libraries, and walking trails. We want to include everyone of all ages and abilities in this game so everyone can have the chance to be active and have fun. Our game is a friendly competition where players can set their own goals to achieve. The motivation is to earn points and badges and the game will show a leaderboard. Our game encourages healthful, safe activity just by be being outdoors in all seasons. Players get exercise by going to the different locations in the community that we have chosen, and we offer a fun activity at every location where they can earn points and badges.
</p>
<h2>Thank you to our sponsor!</h2>
<p>Thank you to Carpenter Law for supporting our team and helping to make this project possible!</p>
<img src="{% static 'sponsor_logo.png' %}" class="img-fluid">

{% endblock %}