{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <h1>Leaderboard</h1>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <br>
        <span class="text-muted">My Score: <b>{{ user.playerscore.score }}</b></span>
    </div>
</div>
<hr>

<table class="table table-striped table-hover">
    <thead class="thead-light">
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Player</th>
          <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores %}
            {% if score.data.player == user %}
            <tr class="table-success">
            {% else %}
            <tr>
            {% endif %}
                <th scope="row">{{ score.rank }}</th>
                <td>{% include 'username-icon.html' with user=score.data.player %}</td>
                <td>{{ score.data.score }}</td>
            </tr>
        {% endfor %}
        {% if separate_player_score %}
            <tr class="table-success">
                <th scope="row">{{ player_rank }}</th>
                <td>{{ user }}</td>
                <td>{{ player_score }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>


{% endblock %}