{% extends 'base.html' %}

{% block head %}
{% include 'map-headers.html' %}
{% endblock %}

{% block content %}
<h3 class="text-center">Find a <b>QR code</b>  at one of the locations below and scan it to get started!</h3>
{% include 'map.html' %}
{% endblock %}
