<div id="mapid" style="height: 75vh;">
    <script>
    // The actual map (zoomed in on SL)
    var map = L.map('mapid').setView([42.460556, -83.651667], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    // Pins on the map
    var pin = 0;
    {% for activity in activities %}
        pin = L.marker([{{ activity.longitude }}, {{ activity.latitude }}]).addTo(map);
        pin.bindPopup("{% include 'map-popup.html' with activity=activity %}");
    {% endfor %}
    </script>
</div>